body {
  margin: 0;
  padding: 10px;
  background-color: floralwhite;
  font-family : 'Ubuntu', sans-serif;
}

nav {
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: end;
  
}

.search-box {
  border: none;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid royalblue;
  border-right: 0px;
}

.search-btn {
  padding: 5px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid royalblue;
  border-left: 0px;
  background-color: royalblue;
  color: white;
  font-size: small;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 10px;
  row-gap: 10px;
}

.pokemon-card{
  border: 1px solid royalblue;
  border-radius: 4px;
  padding: 10px;
  background-color: ghostwhite;
}